body{background-image: url(images/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

.text{
    padding: 5%;
    top: 20%;
    margin-top: 233px;
}

.txt{
    font-size: 65px;
    font-family: Arial;
    font-weight: 50px;
    -webkit-text-fill-color: azure;
}

.col{
    -webkit-text-fill-color: aliceblue;
    font-family:'Times New Roman';
}

.bg{
    height: 100vh;
    top: 1200px;
    margin-top: 400px;
    }

.bg1{
    background-color:black;
    margin-left: 350px;
    top: 1200px;
    height: 350px;  
}

.light{
    position: absolute;
    margin-right: 373px;
    top: 1590px; 
} 

.dark{
    position: absolute;
    margin-left: 300px;
    top: 1590px;
}

.white{ 
     position: absolute;
    margin-right: 300px;
    top: 1820px;
    
}

.sky{
    position: absolute;
    margin-left: 300px;
    top: 1820px;
}

 .green{
    position: absolute;
    margin-left: 590px;
    top: 1820px;
 } 

.blue{
    position: absolute;
    margin-left: 300px;
    top: 2050px; 
 } 

 .end{
    position: absolute;
    top:2070px;
    margin-right: 373px;
    -webkit-text-fill-color: beige;
  }


.red{
  position: absolute;
  top: 2060px;
  margin-left:590px;
  -webkit-text-fill-color: beige;
}

 @media only screen and (max-width: 600px) { 
    
   }    



